* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 375px) {
    .App {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px 24px 63px;
        overflow: scroll;
    }

    .header {
        width: 100%;
        height: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .book-svg { 
        width: 28px;
        height: 32px;
    }

    .right-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .font-family-list {
        position: absolute;
        z-index: 2;
        top: 65px;
        right: 130px;
        width: 163px;
        height: 132px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 16px;
        border-radius: 16px;
    }

    .right-div hr {
        border: unset;
        width: 1px;
        height: 30px;
    }

    .font-family-div {
        display: flex;
        align-items: center;
        gap: 16px;
        padding-right: 16px;
    }

    .day-night-div {
        display: flex;
        gap: 16px;
        padding-left: 16px;
        align-items: center;
    }

    .day-night-changer {
        width: 40px;
        height: 20px;
        border-radius: 40px;
        padding: 3px;
    }

    .day-night-changer div {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: white;
    }

    .input-parent-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
        margin: 24px 0 28px;
    }

    .input-div {
        width: 100%;
        height: 48px;
        padding: 16px 24px 15px;
        border-radius: 15px;
        border-width: 1px;
        border-style: solid;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .input-div input {   
        width: 100%;
        border: unset;
        outline: none;
        font-size: 16px;
        font-weight: 700;
    }

    .input-div input::placeholder {
        opacity: 0.35;
    }

    .search-div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .warning {
        color: #FF5252;
        font-size: 16px;
        margin-bottom: -24px;
    }

    .result {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .audio-player {
        width: 48px;
        height: 48px;
    }

    .word-result {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .word {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 9px;
    }

    .word-saying-form {
        font-family: sans-serif;
        color: #A445ED;
        font-size: 18px;
        line-height: 24px;
    }

    .noun-verb {
        width: 100%;
        display: flex;
        gap: 25px;
        align-items: center;
        margin: 34px 0;
    }

    .noun-verb p {
        font-size: 18px;
        font-weight: 700;
    }

    .noun-verb hr,
    .footer-border {
        width: 100%;
        border: none;
        height: 1px;
    }

    .meaning {
        color: #757575;
        margin-bottom: 17px;        
    }  
    
    .list-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 13px;
    }

    .list-item {
        width: 100%;
        display: flex;
    }

    .list-item li {
        margin-right: 10px;
        color: #8F19E8;
        padding-top: 3px;
    }

    .list-item p {
        font-size: 15px;
        line-height: 24px;
    }

    .synonyms-div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 24px;
        padding-top: 24px;
    }

    .synonym-title {
        color: #757575;
    }

    .synonym {
        color:  #A445ED;
        font-size: 16px;
        font-weight: 700;
    }

    .footer-border {
        margin: 32px 0px 24px;
    }

    .source {
        color: #757575;
        font-size: 14px;
        text-decoration-line: underline;
        margin-bottom: 8px;
    }

    .source-div {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .source-div a,
    .source-div a:visited {
        text-decoration: none;
    }

    .source-div svg {
        margin-left: 8px;
        vertical-align: middle;
    }
}
